.status-box {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 110px;
    padding: 3px;
    z-index: 1000;
}


.status-up {
    background-color: green;
    color: white;
}

.status-down {
    background-color: red;
    color: white;
}
